.container div{
    background-color:rgba(51, 51, 51, 0.445);
    font-size:30px;
    font-weight:bold;
    height:300px;
    overflow:hidden;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));  
    gap:10px;  
    
}
